<div class="alert text-center"role="alert">
 <h1>Play the Game!!</h1>
 <img src="https://lh5.ggpht.com/jzvb5ul4Z88bv0aqq8ZjKGECFiKdL0p4j3QZJ8rfGt8YFaiblHxYLV7F5OiLjBiXl8Y=w300-rw" alt="game icon">
</div>
<div id="container">
    <div class="row">
        <div class="col been-played text-center">
            <h4>Been Played</h4>
            {{#each newgames}}
            {{#if this.played}}
                <p>{{this.newgame}}</p>
            {{/if}}
            {{/each}}
        </div>
    <div class="col-5 text-center">
        <form action="/" method="POST" id="enter-game">
            <div class="form-group">
                <label for="enter-game"><h2>Game Name:</h2></label>
                <input type="text" class="form-control"  name="newgame" aria-describedby="emailHelp">
                <button type="submit" class="btn btn-dark mx-auto" style="width: 200px;" id="submit">Submit</button>
        </form>
        </div>
    </div>
    <div class="col text-center">
        <div><h4>Play this game!</h4></div>
            {{#each newgames}}
            {{#unless this.played}}
                <div class="has-played" name={{this.newgame}}>
                    <p>{{this.newgame}}</p>
                    <form action="/update/{{this.id}}" method="POST">
                        <input type="hidden" name="played" value=1>
                        <input type="hidden" name="newgame" value={{this.newgame}}>
                        <button type="submit" class="btn btn-success played">Played It!</button>
                    </form>
                </div>
            {{/unless}}
            {{/each}}
    </div>
</div>
<script>

//$("#submit").on("click", function(event) {
  //  event.preventDefault();
    //var addGame = {
    //newgame: $("#enter-game [name=new]").val().trim()
    //};
   // $.ajax("/", {
     // type: "POST",
      //data: addGame
    //}).then(
    //function() {
      //  console.log("created new plan");
       // location.reload();
      //}
    //);
 // });

//$(".played").on('click', function (event){
//event.preventDefault();
    //console.log($(this).parent());
    //$(this).parent().hide();
  //  var playedTheGame = {
      //  playedgame: $(".has-played [name={{this.newgame}}]").val()
   // };
        //playedgame: $(this).parent().attr("name")};
    //console.log(playedTheGame, "MEEHHH");
     //$.ajax("/playedgames", {
      //type: "POST",
      //data: playedTheGame
    //}).then(
    //function() {
    //location.reload();}
   //);
  //});

</script>

